# Task 1:

# 1.Install Jupyter notebook and run the first program and share the screenshot of the output.

In [2]:
new_list=[1,2,3,4,5]
for i in range(0,len(new_list)):
    print(new_list[i])

1
2
3
4
5

In [5]:
1+1
list('abc')

['a', 'b', 'c']

# 2.Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.

In [4]:
#a=int(input("enter no of digits"))
i=2000
while (i<=3200) :
    if((i%7==0) and (i%35!=0)):
       print(i,end=',')
    #print(i,end=',')
    i=i+1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# 3.Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [11]:
fn=input("enter a first name:")
ln=input("enter a last name:")
f=list(fn)
l=list(ln)
c=f[::-1]+list(" ")+l[::-1]
c
#n=list(c)
#n
#y=c.reverse
#print(y)

#l=n[::-1]
print("The required output is ",end=":")
for i in c:
    print(i,end='')

enter a first name:Omkar
enter a last name:Naik
The required output is :rakmO kiaN

In [12]:
firstname = input("enter a first name:")
lastname = input("enter a last name:")
f=firstname[::-1]
print(f)
ln=list(lastname)
l=ln[::-1]
print(l)
print(type(ln))
print(type(f))
print("The required output is: ",firstname[::-1] + " " + lastname[::-1])

enter a first name:Omkar
enter a last name:Naik
rakmO
['k', 'i', 'a', 'N']
<class 'list'>
<class 'str'>
The required output is:  rakmO kiaN

# 4.Write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * Ï€ * r^3

In [17]:
import math
d=12.0

r=d/2
V=4/3*math.pi*r*r*r
print("The volume of sphere is:",V,'cubic cm')

The volume of sphere is: 904.7786842338604 cubic cm

# Task 2:

# 1.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [23]:
a=input("enter a no:")
r=a.split(",")
print(r)
#k=list(r)
#x=len(k)
#i=0
#for i in range(0,len(k)):
#while i<=len(k):
#    k.remove(',')
#    i=i+1
#k.remove(',')
#print(k)

enter a no:1,2,35,78,90,45
['1', '2', '35', '78', '90', '45']

# 2.Create the below pattern using nested for loop in Python.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
r=int(input("enter maximum no of stars to be displayed in a row"))
for i in range(0,r):
    for j in range(0,i+1):
        print("*",end=' ')
    print()#by default end is \n
for i in range(r,0,-1):
    for j in range(0,i-1):
        print("*",end=' ')
    print()#by default end is \n

enter maximum no of stars to be displayed in a row5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 3.Write a Python program to reverse a word after accepting

the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [47]:
x=input("enter a string:")
l=x[::-1]
print("the output is:",l)
type(l)

enter a string:Omkar
the output is: rakmO

str

# 4.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:
WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN, !
           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
            and to secure to all its citizens

In [58]:
x="WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t\tand to secure to all its citizens"
print(x)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			and to secure to all its citizens